{% extends "base.html" %}

{% block title %}Shedar.Live::프로필{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ baseUrl }}assets/css/profile.css">
{% endblock %}

{% block content %}
<div class="flex-row spacer" style="padding:5px;">
    <div id="imgSheet"></div>
    <div class="line-vertical"></div>
    <div class="flex-column spacer" id="profileContainer">
        <div class="profile-item">
            <div class="label" style="font-size:25px;">이름</div>
            <div class="value" style="font-size:25px;">다르/Dar/ダル</div>
        </div>
        <div class="profile-item">
            <div class="label">종족</div>
            <div class="value">까치</div>
            <div class="spacer"></div>
            <div class="label">소속</div>
            <div class="value">까마귀 원정대</div>
            <div class="spacer"></div>
            <div class="label">직위</div>
            <div class="value">대장</div>
        </div>
        <div class="profile-item">
            <div class="label">성별</div>
            <div class="value">여성</div>
        </div>
        <div class="profile-item">
            <div class="label">신장</div>
            <div class="value">165</div>
        </div>
        <div class="profile-item">
            <div class="label">MBTI</div>
            <div class="value">INTP</div>
        </div>
        <div class="profile-item">
            <div class="label">취미</div>
            <div class="value">그림, 게임, 토크, 머리 깃털 손질</div>
        </div>
        <div class="profile-item">
            <div class="label">좋아하는 것</div>
            <div class="value">먹는 것, 자연과 하나 되기</div>
            <div class="spacer"></div>
            <div class="label">싫어하는 것</div>
            <div class="value">딱히 없음</div>
        </div>
        <div class="profile-item">
            <div class="label">마마</div>
            <div class="value">쉐다르</div>
            <div class="spacer"></div>
            <div class="label">파파</div>
            <div class="value">이유강</div>
        </div>
        <div class="profile-item">
            <div class="label-value"><a style="display:flex;flex-flow:row;" href="https://chzzk.naver.com/{{ channelId }}" target="_blank">치지직 <div class="chzzk-icon"></div></a></div>
            <div class="spacer"></div>
            <div class="label-value"><a href="https://twitter.com/shedar0" target="_blank">트위터 <i class="fa fa-twitter" aria-hidden="true"></i></a></div>
            <div class="spacer"></div>
            <div class="label-value"><a href="https://www.youtube.com/@shedar8" target="_blank">유튜브 <i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
            <div class="spacer"></div>
            <div class="label-value"><a href="https://www.pixiv.net/users/95858078" target="_blank">픽시브 <span class="simple-icons--pixiv"></span></a></div>
        </div>
    </div>
</div>
{% endblock %}
